
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(105, 90, 107);
  font-family: 'Lato', sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  text-align: center;
  color: white;
}

.logo{
  padding: 15px 68px;
  border: 0.5px solid white;
  border-radius: 39px;
  width: 264px;

}

.logo:hover {
  background-color: rgb(63, 54, 64);
}

.login-instuctions {
  font-size: 10px;
  margin-top: 5px;
}
